---
layout: default
---
<div class="home">

    <h2 class="post-list-heading" id="{{ page.tag }}">{{ page.tag | capitalize }}</h2>

    {% assign tagged_content = "" | split: "" %}

    {% for doc in site.documents %}
      {% assign doc_tags = doc.tags %}
      {% if doc_tags contains page.tag %}
        {% assign tagged_content = tagged_content | push: doc %}
      {% endif %}
    {% endfor %}
    
    <ul class="post-list">
      {% for post in tagged_content %}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
      {% endfor %}
    </ul>

</div>